*.class

# Package Files #
*.jar
*.war
*.ear
*/target/*
/.metadata
/Servers
.DS_Store

/cdog/*.classpath
/cdog/*.project
/cdog/.settings
/cdog/target
/cdog/*.gitignore
/cdog/bin


/cfamily/*.classpath
/cfamily/*.project
/cfamily/.settings
/cfamily/target
/cfamily/*.gitignore
/cfamily/bin


/familyhas/*.classpath
/familyhas/*.project
/familyhas/.settings
/familyhas/target
/familyhas/*.gitignore
/familyhas/bin


/sharpei/*.classpath
/sharpei/*.project
/sharpei/.settings
/sharpei/target
/sharpei/*.gitignore
/sharpei/bin
/cdog/.springBeans
/cfamily/.externalToolBuilders/org.eclipse.wst.jsdt.core.javascriptValidator (3).launch
