@CHARSET "UTF-8";

.icon{display:inline-block;background:url(../images/icon/icon-img.png) -999em -999em no-repeat;overflow:hidden;vertical-align:text-top}
.icon-attention{width:16px;height:16px;line-height:16px;background-position:0 -60px}
.icon-attention-l{width:32px;height:32px;line-height:32px;background-position:-32px -36px}
.icon-attention-s{width:12px;height:12px;line-height:12px;background-position:0 -191px}
.icon-error{width:16px;height:16px;line-height:16px;background-position:0 0}
.icon-error-l{width:32px;height:32px;line-height:32px;background-position:-32px 0}
.icon-tip{width:16px;height:16px;line-height:16px;background-position:0 -80px}
.icon-tip-l{width:32px;height:32px;line-height:32px;background-position:-32px -70px}
.icon-stop-l{width:32px;height:32px;line-height:32px;background-position:-32px -174px}
.icon-stop{width:16px;height:16px;line-height:16px;background-position:0 -20px}
.icon-help{width:16px;height:16px;line-height:16px;background-position:0 -120px}
.icon-help-s{width:12px;height:12px;line-height:12px;background-position:0 -160px}
.icon-success{width:16px;height:16px;line-height:16px;background-position:0 -100px}
.icon-success-l{width:32px;height:32px;line-height:32px;background-position:-32px -106px}
.icon-success2{width:16px;height:16px;line-height:16px;background-position:0 -192px}
.icon-notice-s{width:12px;height:12px;line-height:12px;background-position:0 -175px}
.icon-bell{width:16px;height:16px;line-height:16px;background-position:0 -40px}
.icon-loading{width:16px;height:16px;line-height:16px;background:url(../images/icon/loading.gif) no-repeat}
.poptip-attention{display:inline-block;height:12px;vertical-align:middle;width:12px;background:url(../images/icon/icon-img1.png) 0 -203px no-repeat;overflow:hidden;font-size:0;line-height:30px}
.poptip-attention-active{background-position:0 -189px}
.poptip-help{display:inline-block;height:12px;vertical-align:middle;width:12px;background:url(../images/icon/icon-img1.png) 0 -217px no-repeat;overflow:hidden;font-size:0;line-height:30px}
.poptip-help-active{background-position:0 -160px}
.sku-batch{display:inline-block;width:16px;height:16px;background:url(../images/icon/operate.png) 1px -14px no-repeat;cursor:not-allowed}
.sku-batch-enable{background-position:1px 2px;cursor:pointer}